header {
  margin: 0;
  padding: 18px;
  background-color: rgb(19, 24, 36);
  outline: 5px solid black;
}

.extrafooter {
  color: whitesmoke;
  background-color: rgb(19, 24, 36);
  padding: 5px;
  outline: 5px solid black;
}

a {
  color: inherit;
}

.bot {
  display: flex;
  justify-content: center;
}

#about {
  display: flex;
  justify-content: center;
}

.branch {
  color: whitesmoke;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
}

.title {
  position: relative;
  color: #d4c9c9;
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 900;

  left: -100%;

  animation: slideIn 0.5s 0.3s forwards;
}

.heropic {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

.title span {
  font-weight: 300;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(36, 45, 68);
  font-family: "Overpass", sans-serif;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  font-size: 40px;
  color: #171717;

  opacity: 0;

  animation: fadeIn 0.5s linear 0.5s forwards;
}

.menuhero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(24, 24, 24);

  background-image: linear-gradient(
    to right,
    rgb(24, 24, 24),
    50%,
    transparent 50%
  );
  background-position: 100% 0%;
  background-size: 200% 100%;
  transition: 0.5s;
}

.menuteam {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  border: 2px solid rgb(24, 24, 24);

  background-image: linear-gradient(
    to right,
    rgb(24, 24, 24),
    50%,
    transparent 50%
  );
  background-position: 100% 0%;
  background-size: 200% 100%;
  transition: 0.5s;
}

.menuteam:hover,
.menuhero:hover {
  color: white;
  background-position: 0% 50%;
  box-shadow: 3px 3px 6px black;
}

.icon {
  padding-top: 30%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  font-family: "Overpass", sans-serif;
}

.paragraph {
  justify-content: center;
  align-items: space-between;
  border: 2px solid black;
}

.tank {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
